@use "/src/sass/base/variables.scss" as *;

@mixin title {
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
    font-style: normal;
    color: $dark;
    text-align: center;
}

@mixin button {
    display: block;
    cursor: pointer;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid $dark;
    border-radius: 2px;
    text-align: center;
    color: $dark;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin angle-decoration {
    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-top: 1px solid $dark;
        border-left: 1px solid $dark;
        top: 0;
        left: 0;
    }
}

@mixin btn-desktop {
    &:active {
        outline: 1px solid $ceramic;
        order: 1px solid $ceramic;
    }
    &:hover {
        color: $ceramic;
        border: 1px solid $ceramic;
    }
}