@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.blog {
    padding-top: 50px;
    padding-bottom: 100px;
    &__title {
        margin-top: 60px;
    }
    &__title-h3 {
        text-align: left;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    &__card {
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        background: $light;
        border: 1px solid $dark;
    }
    &__data {
        &-column {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 25px 25px 0 25px;
        }
    }
    &__text {
        margin-top: 25px;   
        padding: 0 25px 25px 25px;
        font-weight: 400;
        font-size: 16px;
        color: $dark;
        line-height: normal;
    }
    &__img {
        max-inline-size: calc(100% + 2px);
        transform: translateX(-1px) translateY(-1px);
    }
    &__btn {
        transform: translateY(-1px);
    }
}

@media screen and (min-width: 768px) {
    .blog {
        &__wrapper {
            position: relative;
            padding: 25px 25px 0 25px;
            @include angle-decoration;
        }
        &__text {
            margin-top: 15px;
        }
        &__data {
            &-column {
                gap: 0;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .blog {
        &__card {
            width: calc(50% - 25px);
        }
        &__wrapper {
            flex-direction: row;
            gap: 50px;
            align-items: start;
        }
        &__img {
            height: 240px;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 1920px) {
    .blog {
        &__wrapper {
            align-items: normal;
        }
    }
}